# MacOS specific files
.DS_Store

# VS Code settings
.vscode/

# Virtual environment folders
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Local environment and pipenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/